#app {
  position: static;

  .mdl-layout__drawer-button i {
    padding-top: 10px;
  }

  .mdl-layout__content {
    position: static;
  }

  .mdl-grid {
    padding: 0;
  }

  .page-content {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .link-description {
    padding-right: 15px;
  }

  @import './threads.scss';
  @import './messages.scss';
}
